<form data-request="onSubscriptionForConfirmation"
      data-request-validate
      data-request-success="emptyFields()"
      data-request-loading="#loading"
>
    <input name="lang" type="hidden" value="{{activeLocale}}">
    <p class="h4 text-center mb-2">{{ 'Anmeldung für unseren Newsletter'|_ }}</p>
    <div id="loading"><i class="fa fa-refresh fa-spin fa-fw"></i></div>
    <div id="success">{{ "flynex.misc::lang.subscription.thank_you_msg"|trans }}</div>

    <!-- Material input text -->
    <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input name="name" type="text" id="subscribersName" class="form-control">
        <label for="subscribersName">{{ 'Name'|_ }} *</label>
        <span class="newsletter-validation-message" data-validate-for="name">
                                {{ "flynex.misc::lang.validate.name"|trans }}
                            </span>
    </div>

    <!-- Material input email -->
    <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input name="email" type="text" id="subscribersEmail" class="form-control">
        <label for="subscribersEmail">{{ 'Email'|_ }} *</label>
        <span class="newsletter-validation-message" data-validate-for="email">
                                {{ "flynex.misc::lang.validate.email_required"|trans }}
                            </span>
    </div>

    <div class="text-right mt-0">
        <button class="btn btn-outline-info ripple nl-button" type="submit">{{ 'Anmelden'|_ }}<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
</form>